<div class="container">
    <div class="col-xs-12">
        <h4>
            <strong>
                Add a Round for {{ playerName }}
            </strong>
        </h4>
        <br />
        <form class="form-horizontal" ng-submit="addRound()">
            <div class="form-group">
                <label for="date" class="col-xs-1 control-label">Round Date</label>
                <div class="col-xs-3">
                    <input type="datetime-local" name="roundDate" class="form-control col-xs-2" ng-model="round.date">
                </div>
            </div>
            <!--             Form label and input field for Course input  -->
            <div class="form-group">
                <label for="crs" class="col-xs-1 control-label">Course</label>
                <div class="col-xs-3">
                    <ui-select ng-model="round.courseId" 
                               search-enabled="true" 
                               reset-search-input="true" 
                               theme="bootstrap">
                        <ui-select-match placeholder="Select a course" 
                                         allow-clear="true">
                            {{ $select.selected.tag }}
                        </ui-select-match>
                        <ui-select-choices group-by="'state'" 
                                           repeat="course._id as course in courses | 
                                                   filter: $select.search | 
                                                   orderBy: 'city' track by course._id">
                            <div ng-bind-html="course.tag | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
<!--                    <input type="text" name="course" class="form-control" ng-model="round.courseTag">       -->
                </div>
                <br/>
                <span>{{ rmsg1 }}</span>
            </div>
            <!--             Form label and input field for Tee Box input -->
            <div class="form-group">
                <label for="inputTee" class="col-xs-1 control-label">Tee</label>
                <div class="col-xs-2">
                    <input type="text" class="form-control" ng-model="teeName">
                </div>
                <br/>
                <span>{{ rmsg2 }}</span>
            </div>
            <span>{{ rmsg3 }}</span>
            <br/><br/>
            <div>
                <button type="submit" class="btn btn-default">Add</button>
            </div>
        </form>
    </div>
</div>