<div class="col-md-1"></div>
<div class="col-md-7">
    <h2>Welcome to <b>Phoenix Golf Guys</b> Web Site</h2>
    <br/>
    <p>This site provides information about our golf group, including:</p>
    <ul>
        <li>contact details for group members</li>
        <li>area course information</li>
        <li>logging of golf rounds</li>
    </ul>
    <p>Future expansion ideas include:</p>
    <ul>
        <li>scheduling and communication of tee times</li>
        <li>calculation of handicap index</li>
        <li>uploading of round photos</li>
    </ul>
    <br />
    <p><tiny>Contact Mike M with questions, issues, or ideas.</tiny></p>
</div>
<br/>
<div class="col-md-4"></div>
<br/>
<div class="col-md-4">
    <h3><b>Member Login</b></h3>
    <br/>
    <form>
        <div class="form-group">
            <label for="userEmail">Email address</label>
            <input type="email" class="form-control" id="userEmail" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="userPassword">Password</label>
            <input type="password" class="form-control" id="userPassword" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <br/>
    <p><small>Sorry, this doesn't do anything yet!</small></p>
</div>