 <div class="container">
    <div  class="col-md-4">
        <small>
            <h4><b>Player Details:</b></h4>
            <table class="table table-condensed table-bordered" style="text-align:left">
                <tr>
                    <td style="text-align:right"><b>Player Name:</b></td>
                    <td>{{ player.lastName }}, {{ player.firstName }}</td>
                </tr>
                <tr>
                    <td style="text-align:right"><b>Player Email:</b></td>
                    <td>{{ player.email }}</td>
                </tr>
                <tr>
                    <td style="text-align:right"><b>Telephone:</b></td>
                    <td>{{ player.phone }}</td>
                </tr>
                <tr>
                    <td style="text-align:right" ng-click="calcHandicap()"><font color="0000ff"><b>Handicap Idx:</b></font></td>
                    <td>{{ player.hdcp }} / {{ hdcpIndex }}</td>
                </tr>
                <tr>
                    <td style="text-align:right"><b>GHIN Number:</b></td>
                    <td>{{ player.ghinNo }}</td>
                </tr>
                </tr>
            </table>
            <div class="col-md-3"></div>
            <div class="col-md-1">
                <a class="btn btn-primary btn-sm" href="#/addRound/{{ player._id }}" role="button">Add a Round</a>        
            </div>
        </small>
    </div>
    <div class="col-md-8">
        <small>
            <h4><b>Posted Rounds ({{ rounds.length }} total):</b></h4>
            <table class="table table-condensed table-bordered" style="text-align:center">
                <tr>
                    <th style="text-align:center">Date / Time</th>
                    <th style="text-align:center">Course</th>
                    <th style="text-align:center">Front</th>
                    <th style="text-align:center">Back</th>
                    <th style="text-align:center">Gross</th>
                    <th style="text-align:center">CrsHcp</th>
                    <th style="text-align:center">Net</th>
                    <th style="text-align:center">Diff</th>
                    <th style="text-align:center">Adj</th>
                </tr>
                <tr ng-repeat="round in rounds | orderBy:'date':'true'">
                    <td><a href="#/editRound/{{ round._id }}">{{ round.date | date: 'yyyy.MM.dd @ h:mm a' }}</a></td>
                    <td><a href="#/editRound/{{ round._id }}">{{ round.courseTag }}</td>
                    <td>{{ round.grossScore[18] }}</td>
                    <td>{{ round.grossScore[19] }}</td>
                    <td>{{ round.grossScore[20] }}</td>
                    <td>{{ round.crsHdcp }}</td>
                    <td>{{ round.netScore }}</td>
                    <td>{{ round.hdcpDiff | number:1 }}</td>
                    <td>{{ round.adjGrossScore[20] }}</td>
                </tr>
            </table>
        </small>
    </div>
</div>